nav {
    background-color: rgb(59, 59, 59);
}
nav ul { 
    display: flex;
    list-style-type: none;
    width:100vw;
    margin-inline-start: 0;
    padding-inline-start: 0;
 }

 .navbar-link {
    margin-right: 1rem;
 }

 .navbar-link a {
    color: gray;
 }

 .navbar-link a.active {
    color: white;
 }